docs/N8N-WORKFLOW-EXAMPLE.json
{
  "name": "Catering Chatbot",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "chat",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-node",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300],
      "webhookId": "chat-webhook"
    },
    {
      "parameters": {
        "jsCode": "const message = $input.item.json.message.toLowerCase();\nconst keywords = {\n  meny: ['meny', 'menyer', 'asiatisk', 'sushi', 'vietnamesisk', 'menu', 'mat'],\n  priser: ['pris', 'priser', 'kostnad', 'price', 'cost'],\n  allergi: ['allergi', 'allergen', 'allergy'],\n  bokning: ['boka', 'bokning', 'best채lla', 'datum', 'book', 'order'],\n  matr채tter: ['r채tter', 'matr채tter', 'dishes', 'food'],\n  kontakt: ['kontakt', 'ringa', 'mejl', 'telefon', 'contact']\n};\n\nlet intent = 'default';\nfor (const [key, words] of Object.entries(keywords)) {\n  if (words.some(word => message.includes(word))) {\n    intent = key;\n    break;\n  }\n}\n\nreturn { json: { intent, message: $input.item.json.message, sessionId: $input.item.json.sessionId, conversation: $input.item.json.conversation } };"
      },
      "id": "code-intent",
      "name": "Extract Intent",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [450, 300]
    },
    {
      "parameters": {
        "operation": "read",
        "documentId": {
          "__rl": true,
          "value": "YOUR_GOOGLE_SHEET_ID",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Intents",
          "mode": "name"
        },
        "options": {
          "range": "A:E"
        }
      },
      "id": "sheets-read-intents",
      "name": "Read Intents Sheet",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [650, 300],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "YOUR_CREDENTIAL_ID",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.action }}",
              "operation": "equals",
              "value2": "show_meny"
            },
            {
              "value1": "={{ $json.action }}",
              "operation": "equals",
              "value2": "collect_contact"
            },
            {
              "value1": "={{ $json.action }}",
              "operation": "equals",
              "value2": "info"
            }
          ]
        }
      },
      "id": "switch-action",
      "name": "Switch by Action",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [850, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"reply\": $json.response_sv, \"action\": $json.action } }}"
      },
      "id": "respond-webhook",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1050, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Extract Intent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Intent": {
      "main": [
        [
          {
            "node": "Read Intents Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Intents Sheet": {
      "main": [
        [
          {
            "node": "Switch by Action",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch by Action": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2025-02-04T00:00:00.000Z",
  "versionId": "1"
}
